<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="css/layui.css">
		<style>
			#img {
				height: 260px;
				width: 270px;
				position: relative;
				left: 77%;
			}
		</style>
	</head>
	<body bgcolor="lavenderblush">
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px">
			<legend>兜兜转转铺子项目说明</legend>
		</fieldset>
		<ul class="layui-timeline">
			<li class="layui-timeline-item">
				<i class="layui-icon layui-timeline-axis"></i>
				<div class="layui-timeline-content layui-text">
					<h3 class="layui-timeline-title">项目组成员</h3>
					<ul>
						<li>张三（组长）</li>
						<li>李四</li>
						<li>王麻子</li>
					</ul>
				</div>
			</li>
			<li class="layui-timeline-item">
				<i class="layui-icon layui-timeline-axis"></i>
				<div class="layui-timeline-content layui-text">
					<h3 class="layui-timeline-title">前端</h3>
					<ul>
						<li>layui 2.5.5</li>
						<li>thymeleaf 2.1.8.RELEASE</li>
					</ul>
				</div>
			</li>
			<li class="layui-timeline-item">
				<i class="layui-icon layui-timeline-axis"></i>
				<div class="layui-timeline-content layui-text">
					<h3 class="layui-timeline-title">后台</h3>
					<ul>
						<li>Spring-Boot 2.1.8.RELEASE</li>
						<li>Mybatis-plus 3.1.1</li>
					</ul>
				</div>
			</li>
			<li class="layui-timeline-item">
				<i class="layui-icon layui-timeline-axis"></i>
				<div class="layui-timeline-content layui-text">
					<h3 class="layui-timeline-title">数据库</h3>
					<ul>
						<li>Mysql 8.0.7</li>
					</ul>
				</div>
			</li>
			<li class="layui-timeline-item">
				<i class="layui-icon layui-timeline-axis"></i>
				<div class="layui-timeline-content layui-text">
					<h3 class="layui-timeline-title">服务器</h3>
					<ul>
						<li>Apache tomcat 8.5</li>
					</ul>
				</div>
			</li>
		</ul>
		<img src="img/1.jpg" id="img" />
	</body>
	<script src="js/jquery.min.js"></script>
	<script src="js/layui.js"></script>
	<script src="js/element.js"></script>
</html>
