<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="css/layui.css">
	</head>
	<body>
		<div class="layui-form-item" style="position: absolute;z-index: 9999;top: 17px;padding-left: 30px;height: 10px;">
			订单号：
			<div class="layui-inline">
				<input class="layui-input"  id="ordel" autocomplete="off">
			</div>
			<button class="layui-btn"  onclick="sel()" style="position: relative;top: -4px;">搜索</button>
			<button class="layui-btn"  onclick="ins()" style="position: relative;top: -4px;">新增</button>
		</div>
		<table id="tab" lay-filter="user" class="layui-hide" style="position: relative;"></table>
		</body>
		<div id="add" style="display:none">
			<form class="layui-form" style="position: relative;top: 10px;" id="for">
				<div class="layui-form-item">
					<label class="layui-form-label">订单号</label>
					<div class="layui-input-block">
						<input type="text" id="ord" class="layui-input" style="width:200px" placeholder="默认为日期+时间">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">创建时间</label>
					<div class="layui-input-block">
						<input type="text"  id="creatDate"  class="layui-input" style="width:200px" placeholder="默认为当前时间">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">
						<input type="text" id="name"   class="layui-input" style="width:200px">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">订单状态</label>
					<div class="layui-input-block" style="width: 200px;">
						<select id="state">
							<option value=""></option>
							<option value="未完成">未完成</option>
							<option value="已完成">已完成</option>
						</select>
					</div>
				</div>
			</form>
		</div>
		
		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="upd">修改</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>
		</body>
		<script src="js/jquery.min.js"></script>
		<script src="js/layui.js"></script>
		<script src="js/element.js"></script>
		
		<script th:inline="javascript">
		
			layui.use(['table','laydate'], function() {
				var table = layui.table;
				var laydate = layui.laydate;
		
				//执行一个laydate实例
				laydate.render({
					elem: '#creatDate' //指定元素
				});
		
				table.render({
					elem: '#tab',
					url: ''+/*[[@{/findPage}]]*/+'', //数据接口https://www.layui.com/demo/table/user/?page=1&limit=30
					page: true, //开启分页
					cellMinWidth: 80,
					height: 'full-80',
					toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
					defaultToolbar: [
						{ //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
							title: '刷新',
							layEvent: 'LAYTABLE_TIPS',
							icon: 'layui-icon-refresh'
						}
					],
					limit: 20,
					cols: [
						[ //表头
							{
								type: 'checkbox',
								fixed: 'left'
							}
							,{field: 'id', title: 'ID',  sort: true}
							, {
							field: 'ordel',
							title: '订单号'
						}, {
							field: 'creatDate',
							title: '创建时间',
							sort: true
						}, {
							field: 'name',
							title: '用户名'
						},{
							field: 'state',
							title: '订单状态'
						}
		
		
							, {
							title: '操作',
							toolbar: '#barDemo',
							width: 130
						}
						]
					]
				});
		
				//头工具栏事件
				table.on('toolbar(user)', function(obj){
					var check = table.checkStatus(obj.config.id);
					var nocheck = table.cache;
					switch(obj.event){
							//自定义头工具栏右侧图标 - 提示
						case 'LAYTABLE_TIPS':
							layui.table.reload('tab', {
								url: ''+/*[[@{/findPage}]]*/+'',
								toolbar: '#toolbarDemo',
								page: {
									curr: 1 //重新从第 1 页开始
								}
							});
							break;
					};
				});
		
				//监听行工具事件
				table.on('tool(user)', function(obj){
					var data = obj.data;
					//console.log(obj)
					if(obj.event === 'del'){
						layer.confirm('真的删除行么', function(index){
							// obj.del();
							//layer.msg(data.id)
							layer.close(index);
							$.ajax({
								url:''+/*[[@{/delById}]]*/+'',
								type : "post",
								dataType : "json",
								data :  {
									id : data.id
								},
								success:function (dat) {
									if(dat.code=="1"){
										obj.del();
									}
									layer.msg(dat.msg);
								}
							});
						});
					}else if(obj.event === 'upd'){
						$("#ord").val(data.ordel);
						$("#creatDate").val(data.creatDate);
						$("#name").val(data.name);
						//$("#state").val();
						//$("#state option[value='"+data.state+"']").attr("selected", true);
						layer.open({
							type: 1,
							title: "修改",
							area:['400px','450px'],
							skin: 'layui-layer-rim', //加上边框
							//area: ['420px', '240px'], //宽高
							content: $("#add"),
							btn: ['提交', '取消']
							,btn1: function(index, layero){
								$.ajax({
									url:''+/*[[@{/update}]]*/+'',
									type : "post",
									dataType : "json",
									data :  {
										id:data.id,
										ordel:$("#ord").val(),
										creatDate:$("#creatDate").val(),
										name:$("#name").val(),
										state:$("#state option:selected").val()
									},
									success:function (dat) {
										if(dat.code=="0"){
											layer.msg(dat.msg);
											$('#for')[0].reset();
											layer.closeAll();
										}
										layer.msg(dat.msg);
									}
								});
							},
							btn2: function(index, layero){
								$('#for')[0].reset();
								layer.closeAll();
							}
						});
					}
				});
		
			});
		
			function sel(){
				var ordel = $("#ordel").val();
				layui.table.reload('tab', {
					url: ''+/*[[@{/findOrdel}]]*/+'',
					toolbar: '#toolbarDemo',
					where: { //设定异步数据接口的额外参数，任意设
						ordel: ordel
					}
					,page: {
						curr: 1 //重新从第 1 页开始
					}
				}); //只重载数据
			}
		
			function ins(){
				//$("#state option[value='']").attr("selected", true);
				layer.open({
					type: 1,
					title: "新增",
					area:['400px','450px'],
					skin: 'layui-layer-rim', //加上边框
					//area: ['420px', '240px'], //宽高
					content: $("#add"),
					btn: ['提交', '取消']
					,btn1: function(index, layero){
						$.ajax({
							url:''+/*[[@{/insert}]]*/+'',
							type : "post",
							dataType : "json",
							data :  {
								ordel:$("#ord").val(),
								creatDate:$("#creatDate").val(),
								name:$("#name").val(),
								state:$("#state option:selected").val()
							},
							success:function (dat) {
								if(dat.code=="0"){
									layer.msg(dat.msg);
									$('#for')[0].reset();
									layer.closeAll();
								}
								layer.msg(dat.msg);
							}
						});
					},
					btn2: function(index, layero){
						$('#for')[0].reset();
						layer.closeAll();
					}
				});
			}
		</script>
</html>
